---
version: 1
interactions:
- request:
    body: '{"Item":{"_id":{"S":"testDelete"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T154053Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 1C3B98JVQ8R5NU5FNR7S1FHEBNVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ConditionExpression":"attribute_exists(#pk)","ExpressionAttributeNames":{"#pk":"_id"},"Key":{"_id":{"S":"testDelete"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T154053Z
      X-Amz-Target:
      - DynamoDB_20120810.DeleteItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - VCIURJQHB00B8U5DOKQVHJT6QBVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ConditionExpression":"attribute_exists(#pk)","ExpressionAttributeNames":{"#pk":"_id"},"Key":{"_id":{"S":"doesNotExist"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T154053Z
      X-Amz-Target:
      - DynamoDB_20120810.DeleteItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazonaws.dynamodb.v20120810#ConditionalCheckFailedException","message":"The
      conditional request failed"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "396270901"
      X-Amzn-Requestid:
      - QUP9T08L7BUTHDNHJ50ESUF3U7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
