---
version: 1
interactions:
- request:
    body: '{"Item":{"_id":{"S":"testUpdate"},"a":{"S":"A"},"b":{"S":"B"}},"TableName":"docstore-test"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T154053Z
      X-Amz-Target:
      - DynamoDB_20120810.PutItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - 9OH32M47PKSD8S6EBBUKT8J337VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ConditionExpression":"attribute_exists(#pk)","ExpressionAttributeNames":{"#pk":"_id"},"ExpressionAttributeValues":{":0":{"S":"X"},":1":{"S":"C"}},"Key":{"_id":{"S":"testUpdate"}},"TableName":"docstore-test","UpdateExpression":"SET
      a = :0, c = :1 REMOVE b"}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T154053Z
      X-Amz-Target:
      - DynamoDB_20120810.UpdateItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "2745614147"
      X-Amzn-Requestid:
      - CBGSO0ROS73DOGKEI8CPUNNI0NVV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ConditionExpression":"attribute_exists(#pk)","ExpressionAttributeNames":{"#pk":"_id"},"ExpressionAttributeValues":{},"Key":{"_id":{"S":"doesNotExist"}},"TableName":"docstore-test","UpdateExpression":"
      "}'
    form: {}
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Date:
      - 20190102T154053Z
      X-Amz-Target:
      - DynamoDB_20120810.UpdateItem
    url: https://dynamodb.us-east-2.amazonaws.com/
    method: POST
  response:
    body: '{"__type":"com.amazon.coral.validate#ValidationException","message":"ExpressionAttributeValues
      must not be empty"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Crc32:
      - "1909467339"
      X-Amzn-Requestid:
      - 2KR5UK05EFSPODNQ17MM7EGEE7VV4KQNSO5AEMVJF66Q9ASUAAJG
    status: 400 Bad Request
    code: 400
    duration: ""
